@{

    Layout = "_Layout";

}



<body>

    <div class="container">



        <header>

            <div class="hero-image-container">

                <img src="~/css/ratatuy.png" alt="Ai Chef Yapay Zeka Mutfak Asistanı" class="hero-image">

            </div>



            <h1>AiChef Application</h1>

        </header>









        <main class="content">

            <p class="section-title">İlgili aramalar</p>



            <div class="button-list">

                <a asp-controller="Predict" asp-action="Index" class="search-button">

                    <div class="search-icon"><i class="fas fa-search"></i></div>

                    <div class="button-text">🔍 Bu Yemek Ne? 🔍</div>

                    <div class="arrow-icon"><i class="fas fa-chevron-right"></i></div>

                </a>



                <a asp-controller="Recipe" asp-action="Index" class="search-button">

                    <div class="search-icon"><i class="fas fa-search"></i></div>

                    <div class="button-text">👨‍🍳 Akıllı Aşçı Yardımcısı 🥕🧅</div>

                    <div class="arrow-icon"><i class="fas fa-chevron-right"></i></div>

                </a>



                @*  <a href="#" class="search-button">

                    <div class="search-icon"><i class="fas fa-search"></i></div>

                    <div class="button-text">Leblebi Çarşısı</div>

                    <div class="arrow-icon"><i class="fas fa-chevron-right"></i></div>

                </a> *@

            </div>

        </main>



        <footer>

            <p>Copyright © AICHEF.COM All rights reserved. <a href="#">Gizlilik Politikası</a></p>

        </footer>

    </div>

</body>

</html>